.card {
   
   border: 2px solid rgb(50, 84, 56);
   background-color: rgb(109, 135, 72);
   border-radius: 12px;
   box-shadow: 3px 3px 3px rgb(45, 47, 45);
   color: aliceblue;
   font-size: 25px;
   padding: 10px;
   margin: 20px;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.card button {
   width: auto;
   margin: 15px;
   padding: 5px 10px;
   color: rgb(171, 24, 24);
   border-radius: 5px;
   border: none;
   background-color: rgb(108, 183, 248);
   font-size: 25px;
   font-weight: bold;
   cursor: pointer;
}

.card button:hover {
   background-color: rgb(203, 101, 210);
   border: 1px solid rgb(140, 45, 129);
   box-shadow: 3px 4px 3px indigo;
}