.total {
   border: 2px solid rgb(144, 76, 76);
   background-color: rgb(215, 162, 162);
   padding: 7px 30px;
   margin: 50px;
   border-radius: 8px;
   box-shadow: 2px 3px 4px;
   font-size: 24px;
   color: rgb(152, 41, 41) br;
}